.calc-button {
    width: 2rem;
    padding: 0;
    margin: 0;
}

.pic {
    width: 40%;
}

.bder {
    height: 2rem;
}

.menuLks {
    height: 40%;
}

.calc-cien {
    height: 70%;
}